/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 160 />
 * <#assign contentWidth = 300 />
 * <#assign extraWidth = 170 />
 */
#container {
	width: ${contentWidth + navigationWidth + extraWidth}px;
	margin: 0 auto
}

#wrapper {
	float: left;
	width: 100%
}

#content {
	margin-right: ${navigationWidth + extraWidth}px
}

#navigation {
	float: left;
	width: ${navigationWidth}px;
	margin-left: -${navigationWidth + extraWidth}px
}

#extra {
	float: left;
	width: ${extraWidth}px;
	margin-left: -${extraWidth}px
}

#footer {
	clear: left;
	width: 100%
}