/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 150 />
 * <#assign contentWidth = 400 />
 * <#assign extraWidth = 150 />
 */
#container {
	width: ${contentWidth + navigationWidth + extraWidth}px;
	margin: 0 auto
}

#wrapper {
	float: left;
	width: 100%
}

#content {
	margin-right: ${extraWidth + navigationWidth}px
}

#navigation {
	float: left;
	width: ${navigationWidth}px;
	margin-left: -${navigationWidth}px
}

#extra {
	float: left;
	width: ${extraWidth}px;
	margin-left: -${extraWidth + navigationWidth}px
}

#footer {
	clear: left;
	width: 100%
}