/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 150 />
 * <#assign contentWidth = 400 />
 * <#assign extraWidth = 150 />
 */
#container {
	width: ${extraWidth + navigationWidth + contentWidth}px;
	margin: 0 auto
}

#wrapper {
	float: left;
	width: 100%
}

#content {
	margin-left: ${navigationWidth + extraWidth}px
}

#navigation {
	float: left;
	width: ${navigationWidth}px;
	margin-left: -${extraWidth + navigationWidth + contentWidth}px
}

#extra {
	float: left;
	width: ${extraWidth}px;
	margin-left: -${navigationWidth + contentWidth}px
}

#footer {
	clear: left;
	width: 100%
}