/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 200 />
 * <#assign extraWidth = 180 />
 */
#wrapper {
	float: left;
	width: 100%
}

#content {
	margin: 0 ${navigationWidth}px 0 ${extraWidth}px;
}

#navigation {
	float: left;
	width: ${navigationWidth}px;
	margin-left: -${navigationWidth}px
}

#extra {
	float: left;
	width: ${extraWidth}px;
	margin-left: -100%
}

#footer {
	clear: left;
	width: 100%
}