/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 200 />
 * <#assign extraWidth = 180 />
 */
#wrapper {
	float: right;
	width: 100%;
	margin-left: -${navigationWidth + extraWidth}px
}

#content {
	margin-left: ${navigationWidth + extraWidth}px
}

#navigation {
	float: left;
	width: ${navigationWidth}px
}

#extra {
	float: right;
	width: ${extraWidth}px
}

#footer {
	clear: both;
	width: 100%
}