/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 33 />
 */
#wrapper {
	float: right;
	width: 100%;
	margin-right: -${navigationWidth}%
}

#content {
	margin-right: ${navigationWidth}%
}

#navigation {
	float: left;
	width: ${navigationWidth - 0.1}%
}

#extra {
	float: left;
	clear: left;
	width: ${navigationWidth - 0.1}%
}

#footer {
	clear: both;
	width: 100%
}