/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 200 />
 */
#wrapper {
	float: left;
	width: 100%
}

#content {
	margin-left: ${navigationWidth}px
}

#navigation {
	float: left;
	width: ${navigationWidth}px;
	margin-left: -100%
}

#extra {
	clear: left;
	width: 100%
}