/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign contentWidth = 500 />
 * <#assign navigationWidth = 200 />
 */
#container {
	width: ${contentWidth + navigationWidth}px;
	margin: 0 auto
}

#content {
	float: left;
	width: ${contentWidth}px
}

#navigation {
	float: right;
	width: ${navigationWidth}px
}

#extra {
	clear: both;
	width: 100%
}