/* Styles for the no-image placehoders: */

.riot-noimage,
.gallery a.riot-noimage {
	background-image: url(images/checkerboard_dark.gif);
	background-repeat: repeat;
	background-position: 0 0;
}

.gallery .riot-insert-button {
	float: left;
	width: 106px;
	height: 86px;
	clear: none;
	margin: 10px 0 0 0;
	background-position: 48px 35px;
}

