/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 25 />
 * <#assign extraWidth = 30 />
 */
#wrapper {
	float: left;
	width: 100%;
}

#content {
	margin: 0 ${extraWidth}% 0 ${navigationWidth}%;
}

#navigation {
	float: left;
	width: ${navigationWidth}%;
	margin-left: -100%;
}

#extra {
	float: left;
	width: ${extraWidth}%;
	margin-left: -${extraWidth}%;
}

#footer {
	clear: left;
	width: 100%;
}

