/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 25 />
 * <#assign extraWidth = 30 />
 */
#wrapper {
	float: left;
	width: 100%
}

#content {
	margin-right: ${navigationWidth + extraWidth}%
}

#navigation {
	float: left;
	width: ${navigationWidth}%;
	margin-left: -${navigationWidth + extraWidth}%
}

#extra {
	float: left;
	width: ${extraWidth}%;
	margin-left: -${extraWidth}%
}

#footer {
	clear: left;
	width: 100%
}