/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 25 />
 * <#assign extraWidth = 30 />
 */
#wrapper {
	float: left;
	width: 100%
}

#content {
	margin-left: ${extraWidth + navigationWidth}%
}

#navigation {
	float: left;
	width: ${navigationWidth}%;
	margin-left: -${100 - extraWidth}%
}

#extra {
	float: left;
	width: ${extraWidth}%;
	margin-left: -100%
}

#footer {
	clear: left;
	width: 100%
}