/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 200 />
 * <#assign extraWidth = 25 />
 */
#wrapper {
	float: left;
	width: 100%;
	margin-left: -${extraWidth}%
}

#content {
	margin: 0 ${navigationWidth}px 0 ${extraWidth}%
}

#navigation {
	float: left;
	width: ${navigationWidth}px;
	margin-left: -${navigationWidth}px
}

#extra {
	float: left;
	width: ${extraWidth}%
}

#footer {
	clear: left;
	width: 100%
}