/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 25 />
 * <#assign extraWidth = 200 />
 */
#wrapper {
	float: left;
	width: 100%;
	margin-left: -${extraWidth}px
}

#content {
	margin: 0 ${navigationWidth}% 0 ${extraWidth}px
}

#navigation {
	float: left;
	width: ${navigationWidth}%;
	margin-left: -${navigationWidth}%
}

#extra {
	float: left;
	width: ${extraWidth}px
}

#footer {
	clear: left;
	width: 100%
}