/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 50 />
 */
#navigation {
	float: left;
	width: ${navigationWidth}%
}

#extra {
	float: left;
	width: ${99.9 - navigationWidth}%
}

#footer {
	clear: left;
	width: 100%
}