/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign navigationWidth = 50 />
 */
#navigation {
	float: right;
	width: ${navigationWidth}%
}

#extra {
	float: right;
	width: ${99.9 - navigationWidth}%
}

#footer {
	clear: right;
	width: 100%
}