/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign contentWidth = 70 />
 * <#assign containerPadding = 50 />
 */
#container {
	margin: 0 ${containerPadding}px
}

#wrapper {
	float: right;
	width: ${contentWidth}%
}

#navigation {
	float: left;
	width: ${99.9 - contentWidth}%
}

#extra {
	clear: both;
	width: 100%
}