/**
 * Based on Layout Gala by Alessandro Fulciniti
 * See http://blog.html.it/layoutgala/
 *
 * <#assign extraWidth = 300 />
 * <#assign navigationWidth = 400 />
 */
#container {
	width: ${extraWidth + navigationWidth}px;
	margin: 0 auto
}

#navigation {
	float: right;
	width: ${navigationWidth}px
}

#extra {
	float: left;
	width: ${extraWidth}px
}

#footer {
	clear: both;
	width: 100%
}