.riot-insert-button {
clear:both;
}

#extra .riot-insert-button {
width:174px;
}

.riot-drag .source {
overflow:hidden;
}

.riot-component-image {
z-index: 1;
}

.riot-noimage {
background:url(no-image.gif);
height:84px;
padding:10px;
clear:both;
}
#content .riot-noimage {
margin-bottom:32px;
}