body {
	background: #5b5751 url(bg.png) repeat-x;
	color: ${pageFgColor};
	font-family: "Trebuchet MS";
	margin: 0;
	padding: 0;
}

a {
	color: ${pageFgColor};
}

img {
	border: none;
}
.corner-bl,
.corner-br {
	margin-bottom: expression(-1 * (this.parentNode.offsetHeight % 2));
}

#page-frame {
	width: ${pageWidth + 2 * shadowWidth}px;
	margin: 34px auto 0 auto;
}
#shadow-left {
	background: url(shadow-left.jpg) no-repeat;
}
#shadow-right {
	margin-left: ${shadowWidth}px;
	background: url(shadow-right.jpg) right top no-repeat;
}
#page {
	background: ${pageBgColor};
	margin-right: ${shadowWidth}px;
	margin-bottom: 64px;
}
#page-body {
	overflow: hidden;
	margin: 33px 0;
	padding: 3px 0;
}

/* Header */

#header {
	height: 103px;
	background: #908c83 url(header_bg.png) repeat-x;
}
#logo {
	display: block;
	position: relative;
	top: 17px;
	left: 35px;
	width: 99px;
	height: 62px;
	background: url(riot-logo.jpg) no-repeat;
}

/* Footer */

#footer {
	clear: both;
	height: 58px;
	background: #79756c;
}
#footer-content {
	margin: 0 228px 0 198px;
	padding-top: 22px;
}
#footer-content,
#footer-content a {
	color: #aba6a0;
	font-size: 11px;
	font-family: verdana;
}
/* Menu */

#menu {
	float: left;
	width: ${menuWidth}px;
	border-top: 1px solid #5e5b56;
}
#menu,
#menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 1px;
}
#menu li {
	padding: 0;
	margin: 0;
	line-height: 12px;
	width: 100%;
	border-bottom: 1px solid #5e5b56;
}
#menu ul {
	margin-left: 17px;
}
#menu ul li {
	width: 100%;
	border-bottom: none;
}
#menu a,
#menu .active {
	display: block;
	padding: 10px 5px 10px 40px;
	font-size: 12px;
	color: ${pageFgColor};
	background-position: 27px 14px;
	background-repeat: no-repeat;
}
#menu a {
	text-decoration: none;
	background-image: url(arrow.gif);
}
#menu div.active {
	color: #a8ff00;
	background-image: url(arrow.gif);
}
#menu a:hover {
	background-color: ${highlight};
	background-image: url(arrow-inverse.gif);
	color: ${pageBgColor};
}

/* Content */

#content {
	float: left;
	width: ${pageWidth - menuWidth - extraWidth - 2*24}px;
	margin-left: 27px;
	padding-bottom: 5px;
	font-size: 11px;
	line-height: 20px;
	font-family: verdana;
}
#content h1 {
	clear: both;
	color: #fff;
	font-family: "Trebuchet MS";
	font-size: 19px;
	margin: 0 0 25px 0;
}
#content h2 {
	clear: both;
	color: ${highlight};
	font-family: "Trebuchet MS";
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding-top: 32px;
}
#content .title {
	clear: both;
	margin-bottom: 25px;
}
#content .title h1 {
	margin-bottom: 5px;
}
#content .title h2 {
	margin-bottom: 0;
	padding-top: 0;
}
#content p,
#content pre,
#content .box {
	margin-top: 0px;
	margin-bottom: 25px;
	padding-top: 0;
}
#content strong {
	color: #fff;
}

#content img {
	margin-bottom: 32px;
}

#content img.left {
	float: left;
	margin: 5px 10px 5px 0;
}

#content img.right {
	float: right;
	margin: 5px 0 5px 10px;
}

#content a {
	color: ${pageFgColor};
}
#content a:hover {
	background: ${highlight};
	color: ${pageBgColor};
	text-decoration: none;
}

#content .box {
	padding: 10px 17px;
	margin-bottom: 25px;
}
#content div.box {
	background: ${boxBgColor};
	color: ${pageBgColor};
}
#content .box p {
	margin-bottom: 0;
}
#content .box a {
	color: ${pageBgColor};
}

#content div.note-box {
	background: #726d64;
	color: #d4d4d4;
}
#content .note-box a {
	color: #d4d4d4;
}
#content div.note-box .title {
	color: ${highlight};
	font-weight: bold;
	margin: 0;
	padding: 0;
}

#content div.note-box p {
	margin: 0;
}

#content div.group-box {
	color: #fff;
	background: #38352e;
	padding-top: 18px;
	overflow: hidden;
}
#content .group-box p {
	margin-bottom: 12px;
}

#content .image-paragraph {
	clear: both;
}

#content .image-paragraph img,
#content .image-paragraph .riot-noimage {
	float: left;
	margin: 5px 10px 5px 0;
}

/* Extra */

#extra {
	float: right;
	width: ${extraWidth}px;
	font-size: 9px;
	font-family: verdana;
	color: #a7a491;
	padding-bottom: 100px;
}

.box-frame {
	border-bottom: 1px solid #605d58;
	padding: 15px 0;
}
#extra .component-1 {
	padding-top: 0;
}
#extra .last-component {
	border-bottom: none;
}
#extra .box {
	width: 180px;
}
.box .title {
	font-weight: bold;
	padding-top: 7px;
	padding-bottom: 9px;
}

#extra .box .content {
	padding-bottom: 10px;
	line-height: 15px;
}
#extra .image-box .content {
	padding-top: 10px;
}

.box .content p {
	margin-top: 0;
}
.box .content a {
	color: #a7a491;
}
.box .content a:hover {
	background: ${highlight};
	color: #4c4944;
}

.box-frame .filled-box .title,
.box-frame .important-box .title {
	background: #ecece2;
	color: ${pageBgColor};
	padding-left: 10px;
	padding-bottom: 7px;
}
.box-frame .filled-box .content,
.box-frame .important-box .content {
	background: ${boxBgColor};
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.box-frame .filled-box .content,
.box-frame .important-box .content,
.box-frame .filled-box .content a,
.box-frame .important-box .content a {
	color: ${pageBgColor};
}
.box-frame .important-box .title {
	background: ${highlight};
}
.box-frame .important-box .content, 
.box-frame .important-box .content a {
	color: #fff;
}
.box-frame .important-box .content a:hover {
	color: #4c4944;
}
